@model VendedorModel
@{
    ViewData["Title"] = "Clientes do Vendedor";
}

<h3>Cliendo do Vendedor Wesley</h3>

<a class="btn btn-secondary btn-block" asp-controller="Vendedor" asp-action="index" role="button">Voltar</a>