@model VendedorModel
@{
    ViewData["Title"] = "Cadastrar Vendedor";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Vendedor</h1><br />

 </div>

<form asp-controller="Vendedor" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="nome"><b>Nome</b></label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite nome vendedor">
    </div>

    <div class="form-group">
        <label for="CPF"><b>CPF</b></label>
        <input type="text" asp-for="Cpf" class="form-control" placeholder="Digite CPF do vendedor">
    </div>

    <div class="form-group">
        <label for="Email"><b>Email</b></label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o email">
    </div>

    <div class="form-group">
        <label for="celular"><b>Celular</b></label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite celular do vendedor">
    </div>

    
    <button type="submit" class="btn btn-primary btn-block">Criar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Vendedor" asp-action="index" role="button">Voltar</a>
</form>